@use "variables" as *;
@use "mixins" as *;

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $space-4;

  @include md-up {
    grid-template-columns: repeat(3, 1fr);
    gap: $space-5;
  }
  @include lg-up {
    grid-template-columns: repeat(4, 1fr);
  }
}

.cell {
  display: flex;
}
